.rightbar{
    flex: 3.5;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;

}

.bdayContainer{
    display: flex;
    align-items: center;
}

.bdayImg{
    height: 30px;
    width: 30px;
    margin-right: 2%;
}

.bdayTxt{
    font-size: 15px;
    font-weight: 200;
}

.rAd{
    margin-top: 30px;
    border-radius: 5%;
    width: 100%;
}

.FriendList{
    padding: 0%;
    margin: 0%;
    list-style: none;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;

}

.rightBarInfo{
    margin-bottom: 30px;
}

.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 9px;
    color: #555;
}

.rightbarInfoValue{
    font-weight: 200;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightBarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    
}
